@page

@model PostDetailsModel
@{
    ViewData["Title"] = "Posts page";
}

<h1>@Html.DisplayFor(modelItem => Model.Topic.Title)</h1>

<p><em>@Html.DisplayFor(modelItem => Model.Topic.Body)</em></p>

<p>
    <a asp-page="AddPost">Add New Post</a>
    <hr>
    <br>
</p>


@foreach (var item in Model.Topic.Posts)
{

    <div class="col-md-8">
        <h2>
            <a asp-page="./Details" asp-route-Slug="@item.Slug">@Html.DisplayFor(modelItem => item.Title)</a>
        </h2>

    </div>


    @if (Model.IsAdmin)
    {
        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
        <span> | </span>
        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>

    }
    <hr>


}



