@page  "/{parent}/{child}"

@model PostDetailsModel
@{
    ViewData["Title"] = "Posts page";
}

<h1>@Html.DisplayFor(modelItem => Model.Topic.Title)</h1>

<p><em>@Html.DisplayFor(modelItem => Model.Topic.Body)</em></p>

@if (this.User.Identity.IsAuthenticated) { 
<div>
    <form method="post" asp-page-handler="AddPost" asp-route-slug="@Model.Topic.Slug">
        <div class="col-md-6 col-sm-12  mb-5">
            <div class="col-8">
                <button type="submit" class="btn btn-outline-info btn-sm">Add Post</button>
            </div>
        </div>
    </form>
</div>
}



@foreach (var item in Model.Topic.Posts)
{

    <div class="col-md-8">
        <h2>
            <a asp-page="./Details" asp-route-slug="@item.Topic.Channel.Slug" asp-route-parent="@item.Topic.Slug" asp-route-child="@item.Slug">@Html.DisplayFor(modelItem => item.Title)</a>
        </h2>

    </div>


    @if (User.Identity.Name == @item.Author || Model.IsAdmin)
    {
        <div class="col-md-6 col-sm-12  mb-5">
            <div>
                <a asp-page="./EditPost" asp-route-id="@item.ID">
                    <input type="button" class="btn btn-outline-success btn-sm" value="Edit" />
                </a>
                <a asp-page="./DeletePost" asp-route-id="@item.ID">
                    <input type="button" class="btn btn-outline-danger btn-sm" value="Delete" />
                </a>
            </div>
        </div>

    }
    <hr>


}



