@page
@model FinalProject.Pages.ProfileModel



<div>
    <h4>Profile for @Model.Author.UserName</h4>

    @if ((User.Identity.Name == Model.Author.UserName) & (@Model.Author.AvatarFileName == null))
    {

        <div class="col-md-6 col-sm-12  mb-5">
            <a asp-page="./AddAuthor">
                <input type="button" class="btn btn-outline-info" value="Setup Avatar/Bio" />
            </a>
        </div>
    }
    @if ((User.Identity.Name == Model.Author.UserName) & (@Model.Author.AvatarFileName != null))
    {

        <div class="col-md-6 col-sm-12  mb-5">
            <a asp-route-id="@Model.Author.ID" asp-page="./EditAuthor">
                <input type="button" class="btn btn-outline-info" value="Change Avatar/Bio" />
            </a>
        </div>
    }
    <hr />

    <p> <img src="/images/@Model.Author.AvatarFileName" width="70"> </p>
    <div>
        <h5>Bio</h5>
        <p><em>@Html.DisplayFor(modelItem => Model.Author.Body)</em></p>
    </div>

</div>

<h3>Posts I have written</h3>

@foreach (var item in Model.PostList)
{
    <div class="col-md-8">
        <h5>
            <a>@Html.DisplayFor(modelItem => item.Title)</a>
        </h5>
    </div>
}