@page
@model FinalProject.Pages.ProfileModel



<div>
    <h4>Profile for @Model.Author.UserName</h4>

    @if ((User.Identity.Name == Model.Author.UserName) & (@Model.Author.AvatarFileName == null))
    {

        <div class="col-md-6 col-sm-12  mb-5">
            <a asp-page="./AddAuthor">
                <input type="button" class="btn btn-outline-info" value="Setup Avatar/Bio" />
            </a>
        </div>
    }
    @if ((User.Identity.Name == Model.Author.UserName) & (@Model.Author.AvatarFileName != null))
    {

        <div class="col-md-6 col-sm-12  mb-5">
            <a asp-route-id="@Model.Author.ID" asp-page="./EditAuthor">
                <input type="button" class="btn btn-outline-info" value="Change Avatar/Bio" />
            </a>
        </div>
    }
    <hr />

    <p> <img src="/images/@Model.Author.AvatarFileName" width="70"> </p>
    <div>
        <h5>Bio</h5>
        <p><em>@Html.DisplayFor(modelItem => Model.Author.Body)</em></p>
    </div>

</div>

<h5>Posts I have written</h5>

@foreach (var item in Model.Posts)
{

    <div class="col-md-8">
        <h2>
            <a asp-page="./Details" asp-route-slug="@item.Topic.Channel.Slug" asp-route-parent="@item.Topic.Slug" asp-route-child="@item.Slug">@Html.DisplayFor(modelItem => item.Title)</a>
        </h2>

    </div>
}