@page "/{Slug}"

@model FinalProject.Pages.TopicDetailsModel
@{
    ViewData["Title"] = "Topic page";
}



<h1>@Html.DisplayFor(modelItem => Model.Channel.Title)</h1>

<p><em>@Html.DisplayFor(modelItem => Model.Channel.Body)</em></p>

@if (Model.IsAdmin)
{
<div class="col-md-6 col-sm-12 mx-auto mb-5">
    <form method="post" asp-page-handler="AddTopic" asp-route-slug="@Model.Channel.Slug">
        <div class="row">
            <div class="col-sm-4 text-sm-end align-self-center">
            </div>
            <div class="col-8">
                <button type="submit" class="btn btn-outline-info">Add New Topic</button>
            </div>
        </div>
    </form>
</div>
}

@foreach (var item in Model.Channel.Topics)
{

    <div class="col-md-8">
        <h3>
            <a asp-page="./PostDetails" asp-route-parent="@item.Channel.Slug" asp-route-child="@item.Slug">@Html.DisplayFor(modelItem => item.Title)</a>
        </h3>

    </div>


    @if (Model.IsAdmin)
    {
        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
        <span> | </span>
        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>

    }
    <hr>
}