@page "/{Slug}"

@model FinalProject.Pages.TopicDetailsModel
@{
    ViewData["Title"] = "Topic page";
}



<h1>@Html.DisplayFor(modelItem => Model.Channel.Title)</h1>

<p><em>@Html.DisplayFor(modelItem => Model.Channel.Body)</em></p>

@if (Model.IsAdmin)
{
    <div>
        <form method="post" asp-page-handler="AddTopic" asp-route-slug="@Model.Channel.Slug">
            <div class="col-md-6 col-sm-12  mb-5">
                <div class="col-8">
                    <button type="submit" class="btn btn-outline-info">Add Topic</button>
                </div>
            </div>
        </form>
    </div>
}

@foreach (var item in Model.Channel.Topics)
{

    <div class="col-md-8">
        <h3>
            <a asp-page="./PostDetails" asp-route-parent="@item.Channel.Slug" asp-route-child="@item.Slug">@Html.DisplayFor(modelItem => item.Title)</a>
        </h3>

    </div>


    @if (Model.IsAdmin)
    {

        <div class="col-md-6 col-sm-12  mb-5">
            <div>
                <a asp-page="./EditTopic" asp-route-id="@item.ID">
                    <input type="button" class="btn btn-outline-success" value="Edit" />
                </a>
                <a asp-page="./DeleteTopic" asp-route-id="@item.ID">
                    <input type="button" class="btn btn-outline-danger" value="Delete" />
                </a>
            </div>
        </div>

    }
    <hr>
}